<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
    <link rel="stylesheet" href="../css/styleJohan.css">
</head>
<body>
    <div class="header-section">
        <img src="../img/senaLogo.svg" alt="" id="logo">
      </div>
      <div class="title-section">
        <h1 id="title">Consultar Equipo</h1>
    </div>

    <div id="search">
        <img src="../img/backArrow.svg" alt="" id="backArrow">
        <input type="text" placeholder="Buscar Equipo">
        <button id="buttonExport">Export</button>
    </div>

    <div id="results-head">
        <h2>Gestión de Inventario</h2>
        <button>
            <a href="registrarEquipos.html">Registrar Equipos</a>
        </button>
    </div>

    <div id="results-body">
        <input type="text" id="busqueda-rapida">

        <table id="Contenido">
            <tr>
                <th>Placa Equipo</th>
                <th>Marca</th>
                <th>Serie</th>
                <th>Tipo de Equipo</th>
                <th>Estado</th>
                <th>Área</th>
                <th>
                    <a href="inhabilitar.html">Borrar</a>
                </th>
            </tr>

            <tr>
                <td>123</td>
                <td>Asus</td>
                <td>320</td>
                <td>Computador</td>
                <td>Nuevo</td>
                <td>Nue</td>
            </tr>
        </table>
    </div>

    <div></div>
</body>
</html>