<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styleSantiago.css">
</head>
    <body>
        <header>
        </header>
          <div class="cuadro">
            <h1>home</h1>
             <a href="" > <img src="../img/senaLogo.svg" class="imagen">
          </div>

          <div>
            <a href="../../index.html"><img src="../img/backArrow.svg" class="imagen2"></a>

          </div>
            <ul>
                <div class="cuadro2" >
                    <form action="" method="POST">
                    <input type="submit" value="inventario" class="enlaceinven">
                    <br>
                    <br>
                    <br>
                    </form>
                    <form action="registrarEquipos.html" method="get">
                    <input type="submit" value="registrar equipos" class="enlacereg">
                    <br>
                    <br>
                    <br>
                    </form>
                    <input type="button" value="usuarios" class="enlaceusua">
                    <br>
                    <br>
                    <br>
                     <input type="button" value="mantenimiento" class="enlacemante">
                    <br>
                    <br>
                    <br>
                    <input type="button"  value="prestamos" class="enlacepres">

                </div>

                <div>
                    <table class="tabla">
                        <tr>
                            <td>placa del equipo</td>
                            <td> numero de serie</td>
                            <td>nombre del equipo</td>
                            <td>modelo</td>
                            <td>marca</td>
                            <td>area</td>
                            <td>tipo de equipo</td>
                            <td>estado</td>
                            <td>fecha de adquisicion</td>
                            <td>garantia</td>
                            <td>proveedor y persona a cargo</td>
                            <td>estado del equipo</td>
                        </tr>
                        <tr>
                            <td><input type="text" readonly value="Texto de solo lectura"></td>
                            <td><input type="text" readonly value="Texto de solo lectura"></td>
                            <td><input type="text" readonly value="Texto de solo lectura"></td>
                            <td><input type="text" readonly value="Texto de solo lectura"></td>
                            <td><input type="text" readonly value="Texto de solo lectura"></td>
                            <td><input type="text" readonly value="Texto de solo lectura"></td>
                            <td><input type="text" readonly value="Texto de solo lectura"></td>
                            <td><input type="text" readonly value="Texto de solo lectura"></td>
                            <td><input type="text" readonly value="Texto de solo lectura"></td>
                            <td><input type="text" readonly value="Texto de solo lectura"></td>
                            <td><input type="text" readonly value="Texto de solo lectura"></td>
                            <td><input type="text" readonly value="Texto de solo lectura"></td>
                            <form action="" method="POST">
                                <td><input class="boton"   type="button" value="ver detalles"></td>
                            </form>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-<td>
                            <td>-<td>
                            <td>-</td>
                            <td>-<td>
                            <td>-</td>
                            <td><input class="boton"  type="button" value="ver detalles"></td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td><input class="boton"  type="button" value="ver detalles"></td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td><input class="boton"  type="button" value="ver detalles"></td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td><input class="boton"  type="button" value="ver detalles"></td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td><input class="boton"  type="button" value="ver detalles"></td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td><input class="boton"  type="button" value="ver detalles"></td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td><input class="boton" type="button" value="ver detalles"></td>
                        </tr>


                    </table>

                </div>


            </ul>





     </body>
</html>