<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styleBrahiam.css">
  <title>Inhabilitar Equipo</title>
</head>
<body>

  <div class="header-section">
    <img src="../img/senaLogo.svg" alt="" id="logo">
  </div>
  <div class="title-section">
    <h1 id="title">Inhabilitar Equipo</h1>
  </div>
  <div class="containerInhabilitar">
    <form action="home.html" method="POST" class="formulario">
      <div class="serial">
        <input type="text" placeholder="Serial Equipo" class="item">
      </div>
      <div class="argumento">
            <textarea placeholder="Ingresar la causa"></textarea>
      </div>
      <div class="boton1">
        <div class="acciones">
          <button type="submit">
            <img src="../img/cancel.svg" alt="" id="cancel">
          </button>
        </div>
        <div class="acciones">
          <button type="submit">
            <img src="../img/save.svg" alt="" id="save">
          </button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>