body {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* JULIANA INICIO */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */

/* JULIANA FIN  */




/* SANTIAGO VALOIS INICIO HOME */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */


/* SANTIAGO VALOIS FIN  */




/* ---- */




/* JOHAN INICIO */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */

/* JOHAN FIN  */




/* ---- */




/* ALEJANDRO CERON REGISTRAR EQUIPO INICIO */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */

#logo {
  width: 70px;
  margin-left: 10px;
}

#title {
  margin-top: 0;
  text-align: center;
  color: #addfcd;
  background-color: #004034;
  opacity: 60%;
  font-size: 56px;
  padding: 5px;
}

.title-section {
  justify-content: center;
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
}

.containerRegistrarEquipos {
  width: 450px;
  height: 300px;
  margin: 20px auto;
  max-width: 100%;
}

.containerRegistrarEquipos .formulario {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(1, 200px);
  grid-template-rows: repeat(3, 200px);
  align-items: center;
  justify-items: start;
  border: 1px solid gray;
  box-shadow: 3px 3px gray;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.placa {
  grid-column-start: 0;
  grid-column-end: 1;
  /* background-color: yellow; */
}


.numeroSerie {
  grid-column-start: 1;
  grid-column-end: 2;
  /* background-color: black; */
}

.nombreEquipo {
  grid-column-start: 0;
  grid-column-end: 1;
  /* background-color: brown; */
}

.modelo {
  grid-column-start: 1;
  grid-column-end: 2;
  /* background-color: blue; */
}

.area-select {
  grid-column-start: 0;
  grid-column-end: 1;
  /* background-color: bisque; */
}

.marca-select {
  grid-column-start: 1;
  grid-column-end: 2;
  /* background-color: aqua; */
}

.estado-select {
  grid-column-start: 0;
  grid-column-end: 1;
  /* background-color: blueviolet; */
}


.instructorCargo {
  grid-column-start: 1;
  grid-column-end: 2;
  /* background-color: chocolate; */
}


.item {
  width: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 20px;
  font-family: 'Courier New';
}

::placeholder {
  font-size: 15px;
  line-height: 2em;

}

button {
  border: none;
  padding: 10px;
  background-color: white;
}



.boton {
  display: inline-flex;
  position: relative;
  left: 50%;
  margin: 0 auto;
}



.boton #save,
#cancel {
  width: 30px;
  height: 30px;
}


@media (width <=550px) {
  body {
    margin: 0;
    padding: 0;
  }

  #logo {
    width: 30px;
    margin-left: 10px;
    padding-top: 5px;
  }

  .title-section {
    align-items: center;
    display: block;
  }

  .title-section #title {
    font-size: 30px;
    max-width: 100%;
    padding: 3px;
  }

  .containerRegistrarEquipos {
    display: grid;
    max-width: 50%;
    padding: 10px;
  }

  .containerRegistrarEquipos .formulario {
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(3, 50px);
  }
}


@media screen and (max-width:995px),
screen and (max-height:700px) {
  body {
    margin: 0;
    padding: 0;
  }

  .containerRegistrarEquipos {
    display: grid;
    max-width: 100%;
    padding: 10px;
  }

  .containerRegistrarEquipos .formulario {
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: repeat(4, 50px);
    gap: 5px;
  }

}


/* ALEJANDRO CERON REGISTRAR EQUIPO FIN  */

/* ---- */




/* BRAHIAM LLANOS INHABILITAR EQUIPO INICIO */

/* ACA VAS A TRABAJAR TODO EL ESTILO DE TU MÓDULO. */

/* BRAHIAM LLANOS INHABILITAR EQUIPO FIN  */